/**
 * Bost Child Theme Post SCSS
 * Add your custom CSS/SCSS here.
 */

// Force primary buttons to be solid color
.btn-primary {
    background-color: $primary !important;
    border-color: $primary !important;
    color: #fff !important;

    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: darken($primary, 10%) !important;
        border-color: darken($primary, 10%) !important;
        color: #fff !important;
    }
}
